div#articles {
}
#article_page {
	width:100%;
	float:left; }
span.article_title {
	font-size:larger;
	font-weight:bold; }
.article_details {
	font-style:italic; }
.article_body {
}
#article_page_image_holder {
	background-color:#FFFFFF;
	font-size:x-small;
}
#article_page #article_page_image_holder img{
	border: none;
}
.image_description {
	float:left;
	background-color:#FFFFFF;
	font-size:x-small;
	padding-left:5px;
}