span.add_faq_title {
	font-size:larger;
	font-weight:bold;
}

textarea {}
#faq_question { 
	height: 100px; 
	width: 400px;
}
#faq_answer { 
	height: 200px; 
	width:400px;
}

label,input {
	width: 150px; 
	float: left;
	margin-bottom: 5px;
}
label {
	text-align: right; 
	width: 100px; 
	padding-right: 8px;
}
.faq_button {
	clear:left;
	width: 130px;
	margin-left: 80px;
}