#lost_password_form label {
	width: 200px; 
	float: left;
	margin-bottom: 5px;
}
#lost_password_form input {
	width: 200px; 
	float: left;
	margin-bottom: 5px;
}
#lost_password_form label {
	text-align: right; 
	width: 150px; 
	padding-right: 8px;
}
#lost_password_form .email_button {
	margin-left: 158px;
}