div.admin_tools {
	width:100%;
	margin-top:5px; }
label,input {
	width: 40px; 
	float: left;
	font-size: 10px; }
#member_button {
	width: 75px;
	margin: 0px 0px 0px 0px; }
#member_search_term {
	width:150px; }
.admin_tools_status {
	font-weight:bold; }
#admin_delete_button {
	display:inline;
	width:130px; }
#admin_restore_button {
	display:inline;
	width:130px; }
#admin_reactivate_button {
	display:inline;
	width:130px; }
#admin_expiry_button {
	display:inline;
	width:130px; }
#admin_suspend_button {
	display:inline;
	width:130px; }
#admin_validate_button {
	display:inline;
	width:130px; }
#suspended_message {
	width:200px; }