#member_form #member_id_to_edit {
	width: 40px; }
#member_form #member_first_name_label {
	clear:left;
	width: 200px; }
#register {
	position: relative;
	display: block; 
	width: 700px; 
	float: left; }
.required_field {
	font-weight: bold; }
	
#member_form label {
	width: 150px; 
	float: left;
	margin-bottom: 5px;}
	
#member_form input {
	width: 250px; 
	float: left;
	margin-bottom: 5px;}
	
.button {
	width: 100px;}
#find_member_button {
	width:90px; }
#member_form label {
	text-align: right; 
	width: 200px; 
	padding-right: 8px; }
#member_form #member_public_profile {
	height: 200px;
	width: 450px;
	float:left;
	margin-bottom: 5px;
}
#member_form #member_member_profile {
	height: 200px;
	width: 450px;
	float:left;
	margin-bottom: 5px;
}