span.add_event_title {
	font-size:larger;
	font-weight:bold; }

textarea {}
#event_description { height: 50px; width:400px; }

label,input {
	width: 150px; 
	float: left;
	margin-bottom: 5px;
	font-size: 10px; }
.article_button {
	margin-left: 100px;
	width: 100px;
	font-size: 9px; }
	
label {
	text-align: right; 
	width: 100px; 
	font-size: 9px;
	padding-right: 8px; }
.event_button {
	clear:left;
	width: 100px;
	font-size: 9px;
	margin-left: 80px; }