/* Basic Grey */
body {
margin: 10px;
}

.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 900px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #5f5f5f;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}

.basic-grey form {

}

.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    color: #4f4f4f;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}

.progress {
    text-align: center;
    font: 14px serif;
    padding-bottom: 20px;
}

.progress a {
    padding: 10px 12px 13px;
    margin-right: 5px;
    background: #e4e4e4;
    position: relative;
    display: inline-block;
}
.progress a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #F7F7F7;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.progress a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #e4e4e4;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.progress a:first-child:before,
.progress a:last-child:after {
    border: 1px;
}
.progress a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.progress a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.progress .step {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.progress .stepdone {
    background: #2DC458;
}
.progress .stepdone:after {
    border-left-color: #2DC458;
}

.progress a:first-child .step {
    margin-left: 0;
}
.progress .current {
    background: #007ACC;
    color: #fff;
}
.progress .current:after {
    border-left-color: #007ACC;
}

ul {
    list-style-position: inside;
    margin-left: -15px;
}

li.error{
    color: red;
    list-style-image: url('../images/iconset/essen/16x16/busy.png');
}

li.ok{
    list-style-image: url('../images/iconset/essen/16x16/check.png');
}

.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="password"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 400px;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    /*text-overflow: '';
    width: 70%;*/
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height: 100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}