label,input {
	width: 100px; 
	float: left;
	font-size: 10px; }
label {
	text-align: right; 
	width: 120px; 
	font-size: 9px;
	padding-right: 8px; }
.bulk_member_button {
	margin-left:40px;
	width:220px; }
.reverse_transaction_button {
	margin-left:100px; }
#member_distribute_button {
	width:220px;
	margin-left:40px; }
#undo_distribute_button {
	width:220px;
	margin-left:40px; }
#confirm_transaction_button {
	width:220px; }
#cancel_transaction_button {
	width:220px; }