
body {
  color : #000000;
  background : #ffffff;
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt;
}
a {
  text-decoration : underline;
  color : #0000ff;
}
#header, #navigation, #comment_form {
  display : none;
}