
body {
	color : #000000;
	background : #ffffff;
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt; }
a {
	text-decoration:none;
	color : #000000;
	font-weight:bold; }
.log_link {
	text-decoration:underline;
	color:#0033FF; }
textarea#log {
	width:100%;
	height:500px }
div#header, #navigation, #noticeboard_search_form, #articles_search_form, #events_search_form, #auction_html, .buy_now_form, .comment_form, #member_search_form, #admin_tools, .transaction_form, #contact_form {
	display : none; }